[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask = "*"
markdown = "*"
flask-wtf = "*"
babel = "*"
flask-babelex = "*"
flask-wiki = {editable = true, path = "."}

[dev-packages]
check-manifest = "*"
ipython = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
extract_messages = "pipenv run pybabel extract --project Flask-Wiki -F babel.cfg -k gettext -k lazy_gettext -o flask_wiki/translations/messages.pot flask_wiki"
init_catalog = "pybabel init -i flask_wiki/translations/messages.pot -d flask_wiki/translations -l "
compile_catalog = "pybabel compile -d flask_wiki/translations"
update_catalog = "pybabel update -i flask_wiki/translations/messages.pot -d flask_wiki/translations"
serve = "flask run"
